<h1>Prime Number Checker</h1>
<main>
    <form id="prime" name="prime">
        
        <label for="number">Number:</label>
        <input type="number" name="number" id="number">
        <button type="submit">See Result</button>
    </form>
    <div class="form-group hidden" id="error">
    <div class="alert alert-danger text-goes-here">
    </div>
    </div>
    <ul id="attempts"></ul> 
</main>
