<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Check Prime</title>
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  <main class="container">
    <div class="row">
      <div class="col-sm-6">
        {{{body}}}
      </div>
    </div>
    <ol id="attempts"></ol>
  </main>
  <footer class="footer">
    <p>
        Name: Harsh Patel<br>
        CWID: 20005159
    </p>
  </footer>
  <script src="/public/js/form.js"></script>
</body>

</html>