* {
    box-sizing: border-box;
  }
  
  html,
  body {
    font-size: 20pt;
  }
  
  body {
    background: #86e0c5;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  }
  
  main {
    max-width: 75%;
    margin: auto;
  }
  
  header {
    border-bottom: 1px solid #afafaf;
  }
  
  h1{
    margin-left: 450px;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #222;
    margin-bottom: 5px;
  }
  
  h1 {
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }
  
  h5 {
    font-size: 1.15rem;
  }
  
  h6 {
    font-size: 1.05rem;
  }
  
  p {
    font-size: 1rem;
    line-height: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(16, 51, 16, 0.933)
  }
  
  .post {
    width: 75%;
    border-bottom: 1px dashed #333;
  }
  
  .new-post-form {
    max-width: 300px;
  }
  
  .new-post-form .full-width-input {
    display: block;
    min-height: 3em;
    margin: 10px 0;
    width: 100%;
  }
  
  label {
    font-weight: bold;
    color: rgb(24, 38, 51);
    font-family: cursive;
  }
  
  .error-list li {
    color: #ff0000;
  }
  
  .author-link,
  .author-link:link {
    color: #228b22;
  }
  
  .author-link:visited {
    font-style: italic;
    color: rgb(25, 9, 245);
  }
  
  .author-link:hover {
    font-style: normal;
    font-weight: 700;
    color: rgb(190, 238, 17);
  }
  
  .author-link:active {
    color: #00ccff;
  }
  
  dl {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }